<h1>Scrabbler!</h1>
<h2>I'll help you cheat at Scrabble! :)</h2>
<form action='/score'>
  <div class="form-group">
    <label for="word">Enter a cool word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
